<section class="project-glass">
  <div class="main-container">
    <div class="right-side">
      <h2 class="project-title">{{projectDescription.title}}</h2>
      <p class="project-description">{{getTranslation(projectDescription.description)}}</p>

      <div class="features-container">
        <h3 class="features-title">{{getTranslation("features")}}:</h3>
        <div *ngFor="let feature of projectDescription.features" class="feature">{{getTranslation(feature)}}</div>
      </div>
    </div>

   <div class="left-side">
     <a class="neo-button" routerLink="/">
       <i class="fas fa-arrow-left"></i>
       <p>{{getTranslation('back')}}</p>
     </a>

     <div class="image-container">
        <i *ngIf="imageIndex" class="fas fa-arrow-left arrow-left" (click)="changeImage(-1)"></i>
        <img class="project-image" [src]="projectDescription.imageUrls[imageIndex]" alt="{{projectDescription.title}}">
        <i *ngIf="imageIndex != projectDescription.imageUrls.length -1 && projectDescription.imageUrls.length > 1" class="fas fa-arrow-right arrow-right" (click)="changeImage(1)"></i>
     </div>

     <div *ngIf="projectDescription.link" class="link-container">
       <a [href]="projectDescription.link" target="_blank" class="link">{{getTranslation("viewLiveDemo")}}</a>
     </div>

      <div class="stack-title">{{getTranslation("usedTechnologies")}}:</div>
     <div class="stack-container">
        <div *ngFor="let stack of projectDescription.techStack" class="stack">{{stack}}</div>
     </div>
   </div>
  </div>
</section>
<app-home-contact></app-home-contact>
