<section class="projects-section">
  <div class="type-selector">
    <button
      *ngFor="let type of projectTypes"
      class="type-button"
      [class.active]="selectedType() === type"
      (click)="selectedType.set(type)">
      {{ type === 'commercial' ? getTranslation('commercial') : getTranslation('nonCommercial') }}
    </button>
  </div>

  <div class="projects-grid">
    <div
      *ngFor="let project of filteredProjects()"
      class="project-card"
      (click)="navigateToProject(project.route)">
      <div class="card-content">
        <h3 class="project-title">{{ project.title }}</h3>
        <div class="offer-container">
          <p *ngFor="let offer of project.offer" class="offer-title">{{getTranslation(offer)}}</p>
        </div>
        <p class="project-desc">{{ getTranslation(project.shortDesc)}}</p>
        <div class="tech-stack">
              <span
                *ngFor="let tech of project.techStack"
                class="tech-item">
                {{ tech }}
              </span>
        </div>
        <div class="view-details">
          <span class="view-text">{{getTranslation('viewDetails')}}</span>
          <div class="arrow"></div>
        </div>
      </div>
    </div>
  </div>
</section>
