@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root {
  --primary-dark: #322b2b;          // Główna czerń
  --secondary-dark: #1a1a1a;        // Drugi poziom czerni

  // Podstawowe odcienie czerwieni
  --accent-red: #ff0000;            // Intensywna czerwień
  --accent-red-dark: #cd0303;       // Ciemniejszy odcień czerwieni
  --accent-red-light: #ff4d4d;      // Jaśniejszy odcień czerwieni

  // Dodatkowe ciemne odcienie czerwieni
  --accent-red-900: #573333;        // Bardzo ciemna czerwień
  --accent-red-800: rgba(83, 1, 1, 0.93);        // Głęboka czerwień
  --accent-red-700: #f88686;        // Ciemna czerwień wpadająca w burgund
  --accent-red-600: #800000;        // Ciemny karmazyn
  --accent-red-500: #990000;        // Głęboka czerwień z odcieniem brązu

  // Pomarańczowe akcenty
  --accent-orange: #ff4500;         // Intensywny pomarańcz
  --accent-orange-dark: #cc3700;    // Ciemniejszy pomarańcz

  // Kolory tekstu
  --text-primary: #ffeeee;          // Biały tekst
  --text-secondary: #cccccc;        // Szary tekst

  // Efekty hover
  --hover-red: rgba(255, 0, 0, 0.2); // Efekt hover czerwony
  --hover-orange: rgba(255, 69, 0, 0.2); // Efekt hover pomarańczowy
  --hover-red-900: rgba(19, 0, 0, 0.2); // Efekt hover czerwony ciemny
  --hover-red-800: rgba(77, 0, 0, 0.2); // Efekt hover czerwony głęboki
  --hover-red-700: rgba(96, 0, 0, 0.2); // Efekt hover czerwony ciemny burgund
  --hover-red-600: rgba(128, 0, 0, 0.2); // Efekt hover czerwony ciemny karmazyn
  --hover-red-500: rgba(153, 0, 0, 0.2); // Efekt hover czerwony głęboki z odcieniem brązu

}

body {
  display: flex;
  background: radial-gradient(
      circle at center,
      var(--accent-red-800) 0%,
      var(--accent-red-900) 25%,
      var(--primary-dark) 50%
  );
  background: -webkit-radial-gradient(
      circle at center,
      var(--accent-red-800) 0%,
      var(--accent-red-900) 25%,
      var(--primary-dark) 50%
  );
  color: var(--text-primary);
  font-family: 'Fira Code', monospace;
  line-height: 1.6;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;

  // Efekt rozmycia
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  // Efekty świetlne
  &::after {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200vw;
    height: 200vh;
    background: radial-gradient(
        circle,
        rgba(255, 0, 0, 0.1) 0%,
        rgba(255, 77, 77, 0.1) 30%,
        transparent 70%
    );
    z-index: -2;
    pointer-events: none;
    animation: pulse 15s infinite alternate;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .light-point {
    position: absolute;
    width: 200px;
    height: 200px;
    background: radial-gradient(
        circle,
        rgba(255, 0, 0, 0.2) 0%,
        transparent 70%
    );
    filter: blur(20px);
    animation: float 6s infinite ease-in-out;

    &.one {
      top: 20%;
      left: 10%;
      animation-duration: 8s;
    }

    &.two {
      bottom: 15%;
      right: 5%;
      animation-duration: 10s;
      width: 300px;
      height: 300px;
    }

    &.three {
      top: 5%;
      right: 20%;
      animation-duration: 12s;
      background: radial-gradient(
          circle,
          rgba(255, 69, 0, 0.15) 0%,
          transparent 70%
      );
    }
  }
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--accent-orange-dark);
  position: relative;
  margin-bottom: 1.5rem;

  &::before {
    content: '';
    display: block;
    width: 10rem;
    height: 3px;
    border-radius: 20rem;
    background: whitesmoke;
    margin: auto;
  }
}

.projects-container {
  width: 100vw;
  padding-top: 2rem;
  background: radial-gradient(
      circle at center,
      var(--accent-red-800) 0%,
      var(--accent-red-900) 25%,
      var(--primary-dark) 50%
  );
}

.white-container {
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 2rem;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  border-radius: 2rem 4rem 4rem 2rem;
  font-family: 'Manrope', sans-serif;

  .title-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    text-shadow: 2px -2px 0 rgba(0,0,0,0.2);

  }

  .section-title {
    text-align: left;
    margin-left: 3rem;
    font-size: 5rem;

    &::before {
      width: 8rem;
    }
  }
}

.stack-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin-bottom: 1.5rem;

  button {
    background-color: #ffffff;
    color: #333;
    border-radius: 0.76rem;
    border: 1px solid #bab8b8;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    cursor: default;
    transition: all 0.2s ease;

    &:hover {
      border: 1px solid var(--accent-red-dark);
    }
  }
}

.categories-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1400px;
  gap: 1rem;
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 0.8;
  }
}

@supports (-webkit-touch-callout: none) {
  body {
    padding-top: env(safe-area-inset-top); /* iOS 11.2+ */
    background-color: var(--primary-dark); /* Fallback */
  }

  /* Zmień kolor paska */
  meta[name="apple-mobile-web-app-status-bar-style"] {
    background: radial-gradient(
        circle at center,
        var(--accent-red-800) 0%,
        var(--accent-red-900) 25%,
        var(--primary-dark) 50%
    );
    background: -webkit-radial-gradient(
        circle at center,
        var(--accent-red-800) 0%,
        var(--accent-red-900) 25%,
        var(--primary-dark) 50%
    );
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
