<div class="white-container" id="offers">
  <div class="title-container">
    <h2 class="section-title">{{getTranslation("whatIDo")}}</h2>
  </div>

  <div class="categories-container">
    <div class="left-side">
      <div class="titles"
           *ngFor="let exp of offerItems"
           [ngClass]="{'selected' : selectedOffer().id === exp.id}"
           (click)="selectExp(exp)">
        <p>0{{exp.id}}/</p>
        <h3>{{exp.title}}</h3>
      </div>
    </div>

    <div class="right-side">
      <app-offer-item  [selectedOffer]="selectedOffer()"></app-offer-item>
    </div>
  </div>

  <div class="max-w-6xl mx-auto mt-10">
    <app-how-work></app-how-work>
  </div>
</div>
