<div class="white-container" id="offers">
  <h2 class="section-title">{{getTranslation("whatIDo")}}</h2>

  <div class="expertise-container">
    <div class="left-side">
      <div class="titles"
           *ngFor="let exp of expertise"
           [ngClass]="{'selected' : selectedExp === exp.id}"
           (click)="selectExp(exp.id)">
        <p>0{{exp.id}}/</p>
        <h3>{{exp.title}}</h3>
      </div>
    </div>

    <div class="right-side">
      <app-offer-item [selectedExp]="selectedExp"></app-offer-item>
    </div>

  </div>
</div>
